<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="{% url 'buy' %}" method="POST">
        {% csrf_token %}

        <input type="text" name="username" placeholder="Enter registered username">
        <input type="password" name="password" placeholder="Enter your password">
        <select name="book_name" placeholder="Chose Book">
            <option value="" disabled selected>Select your option</option>
            {% for i in books %}
                <option value="{{ i.name }}">{{ i.name }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Submit">
    </form>
</body>
</html>